@page "/Prestamos/Edit/prestamosId={idPrestamo:int}"
@rendermode InteractiveServer
@inject PrestamosService prestamosService
@inject NavigationManager navigation

<PageTitle>Editar</PageTitle>

<EditForm Model="Prestamos" OnValidSubmit="Editar">
    <div class="container">
        <div class="card shadow-lg">

            <div class="card-header text-center">
                <h1>Editar prestamo</h1>
            </div>

            @*Cuerpo*@
            <div class="card-body">
                <div class="col-1">
                    @*Id*@
                    <label class="form-label" for="Id">Id</label>
                    <InputNumber id="Id" class="form-control text-center" readonly
                                 @bind-Value="Prestamos.PrestamosId"></InputNumber>
                </div>
                <div class="row">
                    @*Deudor*@
                    <div class="col-4">
                        <label class="form-label" for="Deudor">Deudor:</label>
                        <InputText id="Deudor" class="form-control"
                                   @bind-Value="Prestamos.Deudor" placeholder="Ej: Nombre Apellido Apellido">
                        </InputText>
                    </div>
                </div>
                <div class="row">
                    @*Monto*@
                    <div class="col-4">
                        <label class="form-label" for="Monto">Monto:</label>
                        <InputNumber id="Monto" class="form-control"
                                     @bind-Value="Prestamos.Monto">
                        </InputNumber>
                    </div>
                </div>
                <div class="row">
                    @*Concepto*@
                    <div class="col-8">
                        <label class="form-label" for="Concepto">Concepto:</label>
                        <InputText id="Concepto" class="form-control"
                                   @bind-Value="Prestamos.Concepto" placeholder="Va a comprar una casa...">
                        </InputText>
                    </div>
                </div>
            </div>

            @*Navegacion*@
            <div class="card-footer d-flex justify-content-center">
                <button class="btn btn-outline-warning bi bi-pencil-square"
                        type="submit" style="margin-right: 10px;">
                    Editar
                </button>
                <button class="btn btn-outline-secondary"
                        type="button" @onclick="Volver">
                    Volver
                </button>
            </div>
        </div>
    </div>
</EditForm>


@code {
    public Prestamos? Prestamos { get; set; } = new Prestamos();
    [Parameter]
    public int idPrestamo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var prestamoExistente = await prestamosService.BuscarId(idPrestamo);
        if (prestamoExistente != null)
        {
            prestamosService.DesvincularLocal(prestamoExistente.PrestamosId);
            Prestamos = prestamoExistente;
        }
    }

    public async Task Editar()
    {
        if (!await Validar())
        {
            var editado = await prestamosService.Guardar(Prestamos);
            if (editado)
            {

            }
        }
    }
    public async Task<bool> Validar()
    {
        var existe = await prestamosService.Existe(Prestamos.PrestamosId);
        return existe;
    }
    public void Volver() => navigation.NavigateTo("/Prestamos/Index");
}