<h3>Index</h3>

<a href="#"
   class="btn btn-primary">
    <span class="bi bi-plus-square mt-3"></span> Crear
</a>
<td class="text-center">
    <a href="#" class="btn bi bi-eye"></a>
</td>
<td class="text-center">
    <a href="#" class="btn bi bi-pencil-square"></a>
</td>
<td class="text-center">
    <a href="#" class="btn bi bi-trash"></a>
</td>

<a href="#"
   class="btn btn-primary">
    <span class="bi bi-floppy mt-3"></span> Guardar
</a>
<a href="#"
   class="btn btn-primary">
    <span class="bi bi-arrow-left mt-3"></span> Volver
</a>


@code {

}
